body{
    margin:0;
    padding: 0;
    font-family:sans-serif;
    background-color:#fbfbfb;
}

.wrapper{
    width:500px;
    margin:10px auto;
    font-size:14px;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    padding: 20px;
}

.comment-input{
    background-color: #fff;
    border: 1px solid #f1f1f1;
    padding: 20px;
    margin-bottom: 10px;
}

.comment-field{
    margin-bottom: 15px;
    display: flex;
}
.comment-field .comment-field-name{
    display:flex;
    flex-basis: 100px;
    font-size:14px
}

.comment-field .comment-field-input{
    display: flex;
    flex:1
}

.comment-field-input input,
.comment-field-input textarea{
    border: 1px solid #e6e6e6;
    border-radius:3px;
    outline:none;
    padding: 5px;
    font-size:14px;
    resize: none;
    flex:1
}

.comment-field-input textarea{
    height: 100px;
}

.comment-field-button{
    display: flex;
    justify-content: flex-end;
}

.comment-field-button button{
    padding: 5px 10px;
    width: 80px;
    border: none;
    border-radius: 3px;
    background-color: #00a3cf;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.comment-field-button button:active {
    background: #13c1f1;
  }

  .comment {
      display: flex;
      border-bottom:1px solid #f1f1f1;
      margin-bottom: 10px;
      padding-bottom: 10px;
      line-height: 50px;
      min-height: 50px;
      justify-content: space-around;
  }

  .comment .comment-user{
      flex-shrink: 0;
  }

  .comment span{
      color:#00a3cf;
      font-style: italic;
      /* margin-top: 14px; */
  }

  .comment p{
      margin: 0px;
      margin-left: 10px;
  }
  .comment-user span::after{
      content: ':';
      margin-left: 5px;
      color: black;
  }
  
.comment-delete{
    margin-top: 10px;
    height: 25px;
    width: 60px;
    border: none;
    line-height: 25px;
    border-radius: 6px;
    background-color: #ffa940;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.comment-delete:hover{
    background-color: #ffd591;
}
code{
    color:orange
}